<%= provide(:title,"Show list #{@list.name}") %>
<div><h1><%= @list.name %></h1></div>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Points</th>
    <th>Change</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="list_table" list_id=<%= @list.id %> >
  <% @list.ordered_list.each_with_index do |info_hash,index| %>
      <tr id="<%= "list_item_#{index}" %>" points=<%= info_hash[:points] %>  user_to_id=<%= info_hash[:user_to_id] %>>
        <td class="item_rank"><%= index+1 %></td>
        <td class="item_firstname"><%= info_hash[:firstname] %></td>
        <td class="item_lastname"><%= info_hash[:lastname] %></td>
        <td class="item_points"><%= info_hash[:points] %></td>
        <td class="item_variation"><%= info_hash[:variation] %></td>
        <td>
          <div class="hidden add_point_div">
            <select>
              <% (1..current_user.available_points_on_given_list(@list)).each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
              <% end %>
            </select>
            <button class="btn btn-danger valid_vote">Vote!</button>
          </div>
          <div class="add_point_button">
            <button class="btn">+</button>
            <div class="alert message fade in">

            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

