<%= provide(:title,"Edit profile") %>
<h2>Edit <%= resource_name.to_s.humanize %> info</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class=>"form-horizontal", :html => { role: "form", :method => :put }) do |f| %>
    <%= devise_error_messages! %>


    <div class="form-group">
      <%= f.label :email, :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.email_field :email, :autofocus => true , :class=>"form-control"%>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :nickname, :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.text_field :nickname, :autocomplete => "off", :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password , :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.password_field :current_password, :autocomplete => "off", :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Update" , :class=>"btn btn-success"%>
      </div>
    </div>
<% end %>

<h2>Edit <%= resource_name.to_s.humanize %> password</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class=>"form-horizontal", :html => { role: "form", :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :password , :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.password_field :password, :autocomplete => "off", :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation , "Confirmation", :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.password_field :password_confirmation, :autocomplete => "off", :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password , :class=>"col-lg-2" %>
      <div class="col-lg-10 main-page-form">
        <%= f.password_field :current_password, :autocomplete => "off", :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Update" , :class=>"btn btn-success"%>
      </div>
    </div>
<% end %>

