<%= provide(:title, "Home") %>
<div class="row center-vert col-md-offset-4 col-md-4">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html=>{:method => :put, role: "form"}, :class=>"form-horizontal") do |f| %>
      <%= devise_error_messages! %>

      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <%= f.password_field :password, :autofocus => true,  :placeholder => "New password", :class=>"form-control", :id=>"email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <%= f.password_field :password_confirmation, :autofocus => true,  :placeholder => "Confirm new password", :class=>"form-control", :id=>"email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <%= f.submit "Change my password", :class => "col-md-12 btn btn-info" %>
        </div>
      </div>

  <% end %>
</div>