<span class="badge"> <a href="/lists/{{results.listId}}">{{results.currentUser_PointsLeft}} votes left</a></span>
<a class="lead" href="/lists/{{results.listId}}">{{results.listName}}</a>
<strong>You're ranked {{results.currentUser_Rank}} / {{results.totalPeople}} people</strong>
<br />
<div class="progress progress-striped">
	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{results.percentage}}%">
		<span class="sr-only">{{results.percentage}}% Complete</span>
	</div>
</div>
{{#if results.votesThisWeek}}
<p><b>Ouch.. this week you received {{results.votesThisWeek}} poinst.<b></p>
{{else}}
<p>You didn't get any points yet this week.</p>
{{/if}}

<ul>
	{{#each results.latestVotes}}
	<div class="alert alert-info">{{userTo.name}} (+{{points}} points) <small class="pull-right">{{formatDate}}</small></div>
	{{/each}}
</ul>