<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{results.listName}}</div>
  <div class="panel-body">
    <p>You are ranked {{results.currentUser_Rank}} out of {{results.totalPeople}} people and you have {{results.currentUser_PointsLeft}} votes left. </p>
  </div>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Points</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="list_table" list_id={{results.listId}} > 
      {{#each results.users}}
      <tr id="list_item_{{@index}}" points={{userPoints}}  user_to_id={{user.id}}>
        <td class="item_rank">{{userRank}}</td>
        <td class="item_name">{{user.name}}</td>
        {{#if votesThisWeek}}
        <td class="item_points">{{userPoints}} points <small>(<span class="glyphicon glyphicon-arrow-up"></span>+{{votesThisWeek}} this week)</small></td>
        {{else}}
        <td class="item_points">{{userPoints}} points <small>(<span class="glyphicon glyphicon-arrow-right"></span>No change this week)</small></td>
        {{/if}}
        <td>
          <div class="hidden add_point_div">
            <select class='display_points_to_vote'>
              {{{formatAvailablePoints}}}
            </select>
            <button class="btn btn-danger valid_vote" votesThisWeek={{votesThisWeek}} >Vote!</button>
          </div>
          <div class="add_point_button">
            <button class="btn display_vote">+</button>
            <div class="alert message fade in">

            </div>
          </div>
        </td>
      </tr>
      {{/each}}
  </tbody>
</table>

</div>