<div class="row col-md-7 col-md-offset-1 ">
  <div class="panel panel-primary blacklistToLoadLayout displayList" blacklistid={{list.id}}>
    <!-- Default panel contents -->
    <div class="panel-heading">{{list.name}}</div>
    <div class="panel-body">
      <img style="margin-left: 45%" src="/img/loader.gif">
    </div>

  </div>
</div>

<div class="row col-md-4">
  <div class="row comments">
    <form accept-charset="UTF-8" action="/comments" method="post" role="form">
      <input type="hidden" name="comment[listId]" value={{list.id}}>
      <div class="form-group">
        <div class="col-lg-10 main-page-form">
         <textarea autofocus="autofocus" class="form-control" id="user_email" name="comment[text]" type="text" size="35" placeholder="Comment here.." ></textarea>
       </div>
     </div>

     <div class="form-group">
      <div class="col-lg-10">
        <input class="btn btn-sm btn-success btn-block" name="commit" type="submit" value="Comment" />
      </div>
    </div>
  </form>
</div>

<div class="row col-lg-10 comments">
 <div class="nbComment" id={{nbCom}}></div>
 {{#each comments}}
 <div class="col-md-12 well comment{{@index}}">
  <div class="row comment-top"> 
     <p class="pull-left"><strong>{{user.nickname}}</strong> , {{formatDate}}</p>
       {{#if isCurrentAuthor}}
  <a class="btn delete_comment" comment_id={{id}} id="delete_comment_link_{{id}}">
    <span class="delete_link">delete</span>
  </a>
  {{/if}}
  </div>
  <div class="row comment-body">
   <p>
    {{comment}}
  </p>
</div>
<div class="row comment-footer">
  <button type="button" class="btn btn-default btn-sm pull-left like-comment {{disabled}}" comment_id={{id}} button_id={{@index}} id="button_id_{{@index}}" likes={{likes}}>
    <span class="likes">{{likes}}</span> <span class="glyphicon glyphicon-heart"></span> 
  </button>
  <a class="btn replyToComments" autofocus="autofocus" data-toggle="modal" data-target="#commentModal_{{@index}}">
    Reply!
  </a> 
</div>

<div id="displayReply_{{@index}}">
  {{> shared/displayReply }} 
</div>
{{> shared/modalReply }} 
</div>
{{/each}}
<button type="button" class="btn btn-success showMore btn-block">Show more</button>

</div>
</div>

