<div class="row col-md-7 col-md-offset-1 ">
<div class="panel panel-primary blacklistToLoadLayout displayList" blacklistid={{list._id}}>
  <!-- Default panel contents -->
  <div class="panel-heading">{{list.name}}</div>
  <div class="panel-body">
    <img style="margin-left: 45%" src="/img/loader.gif">
  </div>

</div>
</div>

<div class="row col-md-3 col-md-offset-1">
	<div class="row">
<form accept-charset="UTF-8" action="/comments" method="post" role="form">
  <input type="hidden" name="comment[listId]" value={{list._id}}>
    <div class="form-group">
      <div class="col-lg-10 main-page-form">
      	<textarea autofocus="autofocus" class="form-control" id="user_email" name="comment[text]" type="text" size="35" placeholder="Comment here.." ></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
        <input class="btn btn-success" name="commit" type="submit" value="Comment" />
      </div>
    </div>
</form>
</div>
<div class="row col-lg-10 comments">
{{#each comments}}
<div class="well"><p>
	{{comment}}
	<br>
	<small class="pull-right">By {{nickName}}, {{formatDate}}</small></p>
</div>
{{/each}}
</div>
</div>